.my-navbar {
  color: orangered;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6rem;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}
.my-navbar:visited {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.my-navbar:hover {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #c10944;
  font-size: 16px;
  background-color: orange;
}
.active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000 !important;
  font-size: 16px;
  font-weight: bold;
  background-color: orangered;
}
